<div *ngIf="isLoading">
  <app-loading size="lg" message="Gerando resumo, por favor aguarde..."></app-loading>
</div>
<app-alert *ngIf="isVisible" [isVisible]="isVisible" [message]="alertMessage" [type]="alertType"></app-alert>
<div id="bg" class="min-h-screen bg-cover bg-center bg-repeat flex items-center justify-center px-4">
  <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
  <div
    class="relative max-h-screen z-10 w-full bg-white/10 backdrop-blur-lg rounded-2xl shadow-2xl p-8 space-y-6 text-white animate-fade-in transition-all duration-700 flex flex-wrap">
    <!-- Form Section -->
    <div class="w-full md:w-1/2 pr-4">
      <div class="text-center">
        <h1 class="text-3xl font-bold text-white-800 flex items-center space-x-2 justify-center">
          <img src="../../../assets/logo.png" alt="logo" class="h-10 w-10">
          <span>Synopz</span>
        </h1>
        <p class="text-white-500 mt-1">Resumos Inteligentes de Vídeos</p>
      </div>
      <form (ngSubmit)="summarize()" class="space-y-5">
        <div class="mb-4">
          <label for="apiKey" class="block text-sm font-medium text-white-700">
            <lucide-icon [name]="'key-round'" class="w-4 h-4 inline-flex"></lucide-icon>
            Google AI Studio API Key</label>
          <input name="apiKey" type="password" id="apiKey" placeholder="Insira sua API Key"
            class="w-full bg-gray-700 mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none hover:scale-102 "
            [(ngModel)]="apiKey" (blur)="validateApiKey();" required />
        </div>
        <div *ngIf="isLoadingModel" class="flex items-center justify-center">
          <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-blue-500"></div>
        </div>
        <div *ngIf="isApiValid" class="mb-3">
          <label for="model" name="model" class="block text-sm font-medium text-white-700">
            <lucide-icon [name]="'bot'" class="w-4 h-4 inline-flex"></lucide-icon>
            Escolha o modelo</label>
          <select id="model" name="model" placeholder="Selecione um modelo"
            class="w-full  mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none text-white bg-gray-700 hover:scale-102"
            [(ngModel)]="selectedModel" name="model" required>
            <option value="" disabled selected>Selecione um modelo</option>
            <option *ngFor="let model of models" [value]="model">{{ model }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="youtubeUrl" class="block text-sm font-medium text-white-700">
            <lucide-icon [name]="'play-circle'" class="w-4 h-4 inline-flex"></lucide-icon>
            URL do YouTube
          </label>
          <input type="url" id="youtubeUrl" placeholder="https://youtube.com/..."
            class="w-full bg-gray-700 mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none hover:scale-102"
            [(ngModel)]="youtubeUrl" name="youtubeUrl" required />
        </div>
        <div *ngIf="thumbnailUrl" class="mb-1">
          <img [src]="thumbnailUrl" alt="Miniatura do vídeo" class="mx-auto rounded-lg shadow-md w-25" />
        </div>
        <button name="summarize" type="submit" [disabled]="!isApiValid || !selectedModel || !youtubeUrl || isLoading"
          (click)="summarize(); isLoading = true" class="btn btn-outline-light   w-full">Gerar Resumo</button>
      </form>
    </div>

    <!-- Summary Section -->
    <div class="w-full md:w-1/2">
      <div class="flex justify-end" *ngIf="summary">
        <div class="btn-group">
        <button title="Copiar Resumo" (click)="copySummary()" class="btn btn-outline-warning">
          <lucide-icon [name]="'copy'" class="w-4 h-4 inline-flex animate-pulse"></lucide-icon>
        </button>
        <button title="Exportar Resumo" (click)="exportToDoc()" class="btn btn-outline-primary">
          <lucide-icon [name]="'download'" class="w-4 h-4 inline-flex animate-bounce"></lucide-icon>
        </button>
        </div>
      </div>
      <div class="bg-gray-700 p-4 rounded-md max-h-90 overflow-y-auto">
        <h2 class="text-lg font-semibold text-white mb-2">📝 Resumo</h2>
        <pre *ngIf="summary" class="whitespace-pre-wrap text-sm text-white-700">{{ summary }}</pre>
      </div>
    </div>
  </div>
</div>